.my-irancell-page {
	width: 100%;
	height: 100%;
	padding-right: 0;
}
.my-irancell-page > div {
	width: 100%;
	height: 100%;
}

.my-irancell-page .side-nav {
	padding-right: 0;
}

.my-irancell-page .header {
	background: url(../assets/images/header.png);
	background-size: cover;
	height: 150px;
	width: 100%;
	border-radius: 20px;
	margin-bottom: 30px;
}
.my-irancell-page .header span {
	position: relative;
	top: 50px;
	left: 40px;
	background-color: rgba(253, 200, 22, 1);
	border-radius: 3px;
	color: white;
	font-size: 12px;
	padding: 3px 6px;
	font-weight: 500;
}
.my-irancell-page .header p {
	position: relative;
	top: 50px;
	left: 40px;
	font-size: 23px;
	font-weight: 400;
	font-family: lalezar;
}
.my-irancell-page .linear-chart {
	background-color: #fff;
	padding: 40px;
	border-radius: 14px;
	margin-bottom: 30px;
}
.my-irancell-page .linear-chart .recharts-responsive-container tspan {
	font-family: vazir;
}
.my-irancell-page .buy-button {
	width: 73px;
	height: 30px;
	color: white;
	background: #fdc816;
	box-shadow: 0px 0px 8px rgba(253, 200, 22, 0.39);
	border-radius: 5px;
	border: none;
	outline: none;
}
.my-irancell-page .info-card {
	border-radius: 25px;
	width: 100%;
	height: 93px;
	color: #818181;
	margin-bottom: 9px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #ffff;
}
.my-irancell-page .info-card img {
	background-color: #fdc816;
	border-radius: 50%;
	width: 62px;
	padding: 6px;
	height: 62px;
	object-fit: cover;
	border-radius: 50%;
	margin: 1rem 1.25rem;
}
.my-irancell-page .info-card h1 {
	font-weight: 400;
	font-size: 15px;
	text-align: right;
}
.my-irancell-page .info-card p {
	font-weight: 700;
	font-size: 12px;
}
.my-irancell-page .sim-card-info {
	width: 100%;
	border-radius: 13px;
	background-color: #fffcef;
	flex-grow: 4;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.my-irancell-page .sim-card-info section {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	color: rgba(112, 112, 112, 1);
	font-size: 13px;
	text-align: right;
	row-gap: 8px;
	gap: 13px;
}
.my-irancell-page .sim-card-info .icon-box {
	width: 31px;
	height: 31px;
	border-radius: 8px;
	background: rgba(253, 200, 22, 0.13);
	padding: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.my-irancell-page .sim-card-info .download-our-app {
	border-radius: 8px;
	width: 288px;
	height: 104px;
	margin: 22px;
}
.my-irancell-page .side-bar {
	background-color: white;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.my-irancell-page .side-bar .main-page-button {
	position: relative;
}
.my-irancell-page .side-bar .active-border {
	position: absolute;
	left: 0;
	background-color: #fdc816;
	width: 3px;
	height: 100%;
}
.my-irancell-page .side-bar--active-option {
	font-weight: 700;
	font-size: 15px;
	color: #626161;
}
.my-irancell-page .side-bar--sub-menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 11px;
	font-size: 15px;
	font-weight: 300;
	color: #818181;
}
.suggest-packages {
	background-color: #fff;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	border-radius: 1rem;
}
.suggest-packages table {
	border: 1px solid rgba(235, 235, 235, 1);
	border-collapse: separate;
	border-radius: 9px;
	width: 100%;
	text-align: center;
}
.suggest-packages table tr {
	height: 57px;
	border-bottom: 1px solid rgba(235, 235, 235, 1);
}
.suggest-packages table td {
	border-bottom: 1px solid rgba(235, 235, 235, 1);
}
.suggest-packages table tr:last-of-type td {
	border-bottom: none;
}
.suggest-packages table tr:first-of-type th {
	border-bottom: 1px solid rgba(235, 235, 235, 1);
}
.suggest-packages table th {
	height: 50px;
}
.suggest-packages table th:last-of-type,
.suggest-packages table th:first-of-type {
	padding: 10px;
}
.search-box {
	width: 207px;
	height: 44px;
	border: 1px solid #888;
	border-radius: 10px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	padding: 0 1rem;
	margin-bottom: 40px;
}
.search-box input {
	outline: unset;
	border: unset;
	width: 100%;
	height: 90%;
}
.search-box ::placeholder {
	font-size: 1rem;
	color: #888;
}
.sub-title {
	font-size: 12px;
	color: #686666;
	text-align: right;
}
