@font-face {
	font-family: "lalezar";
	src: url(./assets/fonts/lalezar/TTF/Lalezar-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "vazir";
	src: url(./assets/fonts/vazir/Vazir-Medium.ttf) format("truetype");
}
body {
	box-sizing: border-box;
	background-color: rgba(241, 240, 240, 0.959);
	font-family: "vazir";
	height: 100vh;
}

#root {
	height: 100%;
	width: 100%;
}

.ff-lalezar {
	font-family: "lalezar";
}
