@font-face {
  font-family: 'iransanse';
  src: local('IRANSansWeb'), url(./assets/fonts/iransans/IRANSansWeb.ttf) format('truetype');
}
body {
  box-sizing: border-box;
  background-color: rgba(241, 240, 240, 0.959);
}
.my-irancell-page {
  font-family: iransanse;
  display: flex;
  gap: 1rem;
}
.my-irancell-page main {
  flex-grow: 8;
}
.my-irancell-page main h1 {
  font-size: 23;
  font-weight: 400;
}
.my-irancell-page main .header {
  position: relative;
  top: 0;
}
.my-irancell-page main .header span {
  position: absolute;
  bottom: 1.5rem;
  left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(253, 200, 22, 1);
  color: white;
  width: 82px;
  height: 26px;
  border-radius: 3px;
  font-size: 12px;
  padding: 3px 6px;
}
.my-irancell-page main .header p {
  position: absolute;
  bottom: 2.5rem;
  left: 16px;
  font-size: 23px;
}
.my-irancell-page main .buy-button {
  width: 73px;
  height: 30px;
  border-radius: 5px;
  color: white;
  background-color: rgba(253, 200, 22, 1);
  border: none;
  outline: none;
  font-size: 1rem;
}
.my-irancell-page aside {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 1rem;
}
.my-irancell-page aside .info-card {
  border-radius: 25px;
  width: 331px;
  height: 93px;
  color: #818181;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #ffff;
  font-family: iransanse;
}
.my-irancell-page aside .info-card img {
  background-color: #fdc816;
  border-radius: 50%;
  width: 62px;
  padding: 6px;
  height: 62px;
  object-fit: cover;
  border-radius: 50%;
  margin: 1rem 1.25rem;
}
.my-irancell-page aside .info-card h1 {
  font-weight: 300;
  font-size: 15px;
  text-align: right;
}
.my-irancell-page aside .info-card p {
  font-weight: 700;
  font-size: 12px;
}
.my-irancell-page aside .sim-card-info {
  width: 331px;
  border-radius: 13px;
  background-color: #fffcef;
  flex-grow: 4;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.my-irancell-page aside .sim-card-info section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: rgba(112, 112, 112, 1);
  font-size: 13px;
  text-align: right;
  row-gap: 8px;
  gap: 13px;
}
.my-irancell-page aside .sim-card-info .icon-box {
  width: 31px;
  height: 31px;
  border-radius: 8px;
  background: rgba(253, 200, 22, 0.13);
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-irancell-page aside .sim-card-info .download-our-app {
  border-radius: 8px;
  width: 288px;
  height: 104px;
  margin: 22px;
}
.my-irancell-page .side-bar {
  flex-grow: 1;
  background-color: white;
  width: 280px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.my-irancell-page .side-bar .main-page-button {
  position: relative;
}
.my-irancell-page .side-bar .active-border {
  position: absolute;
  left: 0;
  background-color: #fdc816;
  width: 3px;
  height: 100%;
}
.my-irancell-page .side-bar--active-option {
  font-weight: 700;
  font-size: 15px;
  color: #626161;
}
.my-irancell-page .side-bar--sub-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 11px;
  font-size: 15px;
  font-weight: 300;
  font-family: iransanse;
  color: #818181;
}
.suggest-packages {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 1rem;
}
.suggest-packages table {
  border: 1px solid rgba(235, 235, 235, 1);
  border-collapse: separate;
  border-radius: 9px;
  width: 95%;
  margin: 16px;
  font-family: iransanse;
}
.suggest-packages table tr {
  height: 57px;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
}
.suggest-packages table td {
  border-bottom: 1px solid rgba(235, 235, 235, 1);
}
.suggest-packages table tr:last-of-type td {
  border-bottom: none;
}
.suggest-packages table tr:first-of-type th {
  border-bottom: 1px solid rgba(235, 235, 235, 1);
}
.suggest-packages table th {
  height: 50px;
}
.suggest-packages table th:last-of-type, .suggest-packages table th:first-of-type {
  padding: 10px;
}
.search-box {
  width: 207px;
  height: 44px;
  border: 1px solid #888;
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 40px;
}
.search-box input {
  font-family: iransanse;
  outline: unset;
  border: unset;
  width: 100%;
  height: 90%;
}
.search-box ::placeholder {
  font-family: iransanse;
  font-size: 1rem;
  color: #888;
}
.sub-title {
  font-size: 12px;
  font-family: iransanse;
  color: #686666;
  text-align: right;
}
